#### MySQL Exercise 11: Queries that Test Relationships Between Test Completion and Dog Characteristics

#### To begin, load the sql library and database, and make the Dognition database your default database:

In [1]:
%load_ext sql
%sql mysql://studentuser:studentpw@mysqlserver/dognitiondb
%sql USE dognitiondb

0 rows affected.

[]

#### Question 1: To get a feeling for what kind of values exist in the Dognition personality dimension column, write a query that will output all of the distinct values in the dimension column.  Use your relational schema or the course materials to determine what table the dimension column is in.  Your output should have 11 rows

In [2]:
%%sql
SELECT DISTINCT dimension
FROM dogs;

11 rows affected.

[('charmer',),
 ('protodog',),
 (None,),
 ('einstein',),
 ('stargazer',),
 ('maverick',),
 ('socialite',),
 ('ace',),
 ('expert',),
 ('renaissance-dog',),
 ('',)]

#### Question 2: Use the equijoin syntax (described in MySQL Exercise 8) to write a query that will output the Dognition personality dimension and total number of tests completed by each unique DogID. This query will be used as an inner subquery in the next question.

In [3]:
%%sql
SELECT d.dog_guid AS dogID, d.dimension AS dimension, count(c.created_at) AS
numtests
FROM dogs d, complete_tests c
WHERE d.dog_guid=c.dog_guid
GROUP BY dogID
LIMIT 10;

10 rows affected.

[('fd27b272-7144-11e5-ba71-058fbc01cf0b', 'charmer', 21),
 ('fd27b5ba-7144-11e5-ba71-058fbc01cf0b', 'protodog', 20),
 ('fd27b6b4-7144-11e5-ba71-058fbc01cf0b', None, 2),
 ('fd27b79a-7144-11e5-ba71-058fbc01cf0b', None, 11),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', 'einstein', 31),
 ('fd27b948-7144-11e5-ba71-058fbc01cf0b', 'stargazer', 20),
 ('fd27ba1a-7144-11e5-ba71-058fbc01cf0b', 'maverick', 27),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', 'protodog', 20),
 ('fd27c1c2-7144-11e5-ba71-058fbc01cf0b', 'einstein', 20),
 ('fd27c5be-7144-11e5-ba71-058fbc01cf0b', 'socialite', 20)]

#### Question 3: Re-write the query in Question 2 using traditional join syntax

In [4]:
%%sql
SELECT d.dog_guid AS dogID, d.dimension AS dimension, count(c.created_at) AS
numtests
FROM dogs d JOIN complete_tests c
ON d.dog_guid=c.dog_guid
GROUP BY dogID
LIMIT 10;

10 rows affected.

[('fd27b272-7144-11e5-ba71-058fbc01cf0b', 'charmer', 21),
 ('fd27b5ba-7144-11e5-ba71-058fbc01cf0b', 'protodog', 20),
 ('fd27b6b4-7144-11e5-ba71-058fbc01cf0b', None, 2),
 ('fd27b79a-7144-11e5-ba71-058fbc01cf0b', None, 11),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', 'einstein', 31),
 ('fd27b948-7144-11e5-ba71-058fbc01cf0b', 'stargazer', 20),
 ('fd27ba1a-7144-11e5-ba71-058fbc01cf0b', 'maverick', 27),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', 'protodog', 20),
 ('fd27c1c2-7144-11e5-ba71-058fbc01cf0b', 'einstein', 20),
 ('fd27c5be-7144-11e5-ba71-058fbc01cf0b', 'socialite', 20)]

#### Question 4: To start, write a query that will output the average number of tests completed by unique dogs in each Dognition personality dimension. Choose either the query in Question 2 or 3 to serve as an inner query in your main query. If you have trouble, make sure you use the appropriate aliases in your GROUP BY and SELECT statements.

In [5]:
%%sql
SELECT dimension, AVG(numtests_per_dog.numtests) AS avg_tests_completed
FROM( SELECT d.dog_guid AS dogID, d.dimension AS dimension, count(c.created_at)
AS numtests
FROM dogs d, complete_tests c
WHERE d.dog_guid=c.dog_guid
GROUP BY dogID) AS numtests_per_dog
GROUP BY numtests_per_dog.dimension;

11 rows affected.

[(None, Decimal('6.9416')),
 ('', Decimal('9.5352')),
 ('ace', Decimal('23.3878')),
 ('charmer', Decimal('23.2594')),
 ('einstein', Decimal('23.2171')),
 ('expert', Decimal('23.3926')),
 ('maverick', Decimal('22.8199')),
 ('protodog', Decimal('22.9336')),
 ('renaissance-dog', Decimal('23.0157')),
 ('socialite', Decimal('23.1194')),
 ('stargazer', Decimal('22.7368'))]

#### Question 5: How many unique DogIDs are summarized in the Dognition dimensions labeled "None" or ""? (You should retrieve values of 13,705 and 71)

In [6]:
%%sql
SELECT dimension, COUNT(dogID) AS num_dogs
FROM (SELECT d.dog_guid AS dogID, d.dimension AS dimension
FROM dogs d JOIN complete_tests c
ON d.dog_guid=c.dog_guid
WHERE d.dimension IS NULL OR d.dimension=''
GROUP BY dogID) AS dogs_in_complete_tests
GROUP BY dimension;

2 rows affected.

[(None, 13705), ('', 71)]

#### Question 6: To determine whether there are any features that are common to all dogs that have non-NULL empty strings in the dimension column, write a query that outputs the breed, weight, value in the "exclude" column, first or minimum time stamp in the complete_tests table, last or maximum time stamp in the complete_tests table, and total number of tests completed by each unique DogID that has a non-NULL empty string in the dimension column.

In [11]:
%%sql
SELECT d.breed, d.weight, d.exclude, MIN(c.created_at) AS first_test,
MAX(c.created_at) AS last_test,count(c.created_at) AS numtests
FROM dogs d JOIN complete_tests c
ON d.dog_guid=c.dog_guid
WHERE d.dimension='"'
GROUP BY d.dog_guid;

0 rows affected.

[]

#### Question 7: Rewrite the query in Question 4 to exclude DogIDs with (1) non-NULL empty strings in the dimension column, (2) NULL values in the dimension column, and (3) values of "1" in the exclude column. NOTES AND HINTS: You cannot use a clause that says d.exclude does not equal 1 to remove rows that have exclude flags, because Dognition clarified that both NULL values and 0 values in the "exclude" column are valid data. A clause that says you should only include values that are not equal to 1 would remove the rows that have NULL values in the exclude column, because NULL values are never included in equals statements (as we learned in the join lessons). In addition, although it should not matter for this query, practice including parentheses with your OR and AND statements that accurately reflect the logic you intend. Your results should return 402 DogIDs in the ace dimension and 626 dogs in the charmer dimension.

In [12]:
%%sql
SELECT dimension, AVG(numtests_per_dog.numtests) AS avg_tests_completed,
COUNT(DISTINCT dogID)
FROM( SELECT d.dog_guid AS dogID, d.dimension AS dimension, count(c.created_at)
AS numtests
FROM dogs d JOIN complete_tests c
ON d.dog_guid=c.dog_guid
WHERE (dimension IS NOT NULL AND dimension!='') AND (d.exclude IS NULL
OR d.exclude=0)
GROUP BY dogID) AS numtests_per_dog
GROUP BY numtests_per_dog.dimension;

9 rows affected.

[('ace', Decimal('23.5100'), 402),
 ('charmer', Decimal('23.3594'), 626),
 ('einstein', Decimal('23.2385'), 109),
 ('expert', Decimal('23.4249'), 273),
 ('maverick', Decimal('22.7673'), 245),
 ('protodog', Decimal('22.9570'), 535),
 ('renaissance-dog', Decimal('23.0410'), 463),
 ('socialite', Decimal('23.0997'), 792),
 ('stargazer', Decimal('22.7968'), 310)]

#### Assess whether dog breeds are related to the number of tests completed¶

#### Questions 8: Write a query that will output all of the distinct values in the breed_group field.

In [13]:
%%sql
SELECT DISTINCT breed_group
FROM dogs;

9 rows affected.

[('Sporting',),
 ('Herding',),
 ('Toy',),
 ('Working',),
 (None,),
 ('Hound',),
 ('Non-Sporting',),
 ('Terrier',),
 ('',)]

#### Question 9: Write a query that outputs the breed, weight, value in the "exclude" column, first or minimum time stamp in the complete_tests table, last or maximum time stamp in the complete_tests table, and total number of tests completed by each unique DogID that has a NULL value in the breed_group column.

In [15]:
%%sql
SELECT d.breed, d.weight, d.exclude, MIN(c.created_at) AS first_test,
MAX(c.created_at) AS last_test,count(c.created_at) AS numtests
FROM dogs d JOIN complete_tests c
ON d.dog_guid=c.dog_guid
WHERE breed_group IS NULL
GROUP BY d.dog_guid
LIMIT 10;

10 rows affected.

[('Mixed', 50, None, datetime.datetime(2013, 2, 5, 18, 57, 5), datetime.datetime(2013, 2, 5, 22, 38, 1), 20),
 ('Shih Tzu-Poodle Mix', 0, None, datetime.datetime(2013, 2, 5, 21, 44, 38), datetime.datetime(2013, 2, 10, 3, 33, 37), 20),
 ('German Shepherd Dog-Pembroke Welsh Corgi Mix', 40, None, datetime.datetime(2013, 2, 6, 4, 45, 28), datetime.datetime(2014, 1, 6, 5, 58, 13), 14),
 ('German Shepherd Dog-Nova Scotia Duck Tolling Retriever Mix', 30, None, datetime.datetime(2013, 5, 17, 17, 45, 46), datetime.datetime(2013, 6, 14, 23, 42, 53), 11),
 ('Mixed', 10, None, datetime.datetime(2013, 2, 6, 4, 44, 50), datetime.datetime(2013, 2, 6, 4, 48, 29), 2),
 ('Australian Shepherd-German Shepherd Dog Mix', 90, None, datetime.datetime(2013, 2, 7, 5, 15, 48), datetime.datetime(2013, 12, 20, 21, 3, 18), 21),
 ('Golden Doodle', 70, None, datetime.datetime(2013, 2, 9, 5, 49, 46), datetime.datetime(2013, 2, 9, 6, 10, 11), 6),
 ('Mixed', 30, None, datetime.datetime(2013, 2, 10, 3, 28, 12), datetime.datetime(2013, 7, 20, 2, 12, 37), 28),
 ('Mixed', 90, 1, datetime.datetime(2014, 9, 24, 15, 10, 3), datetime.datetime(2014, 9, 24, 21, 23, 37), 20),
 ('Mudi', 20, None, datetime.datetime(2014, 10, 6, 22, 21, 56), datetime.datetime(2014, 10, 6, 22, 24, 2), 2)]

#### Question 10: Adapt the query in Question 7 to examine the relationship between breed_group and number of tests completed. Exclude DogIDs with values of "1" in the exclude column. Your results should return 1774 DogIDs in the Herding breed group.

In [16]:
%%sql
SELECT breed_group, AVG(numtests_per_dog.numtests) AS avg_tests_completed,
COUNT(DISTINCT dogID)
FROM( SELECT d.dog_guid AS dogID, d.breed_group AS breed_group,
count(c.created_at) AS numtests
FROM dogs d JOIN complete_tests c
ON d.dog_guid=c.dog_guid
WHERE d.exclude IS NULL OR d.exclude=0
GROUP BY dogID) AS numtests_per_dog
GROUP BY breed_group;

9 rows affected.

[(None, Decimal('10.2251'), 8564),
 ('', Decimal('19.7542'), 179),
 ('Herding', Decimal('11.2469'), 1774),
 ('Hound', Decimal('10.0603'), 564),
 ('Non-Sporting', Decimal('10.0197'), 964),
 ('Sporting', Decimal('10.9915'), 2470),
 ('Terrier', Decimal('9.9333'), 780),
 ('Toy', Decimal('8.7157'), 1041),
 ('Working', Decimal('10.2358'), 865)]

#### Question 11: Adapt the query in Question 10 to only report results for Sporting, Hound, Herding, and Working breed_groups using an IN clause.

In [17]:
%%sql
SELECT breed_group, AVG(numtests_per_dog.numtests) AS avg_tests_completed,
COUNT(DISTINCT dogID)
FROM( SELECT d.dog_guid AS dogID, d.breed_group AS breed_group,
count(c.created_at) AS numtests
FROM dogs d JOIN complete_tests c
ON d.dog_guid=c.dog_guid
WHERE d.exclude IS NULL OR d.exclude=0
GROUP BY dogID) AS numtests_per_dog
GROUP BY breed_group
HAVING breed_group IN ('Sporting','Hound','Herding','Working');

4 rows affected.

[('Herding', Decimal('11.2469'), 1774),
 ('Hound', Decimal('10.0603'), 564),
 ('Sporting', Decimal('10.9915'), 2470),
 ('Working', Decimal('10.2358'), 865)]

#### Questions 12: Begin by writing a query that will output all of the distinct values in the breed_type field.

In [18]:
%%sql
SELECT DISTINCT breed_group
FROM dogs;

9 rows affected.

[('Sporting',),
 ('Herding',),
 ('Toy',),
 ('Working',),
 (None,),
 ('Hound',),
 ('Non-Sporting',),
 ('Terrier',),
 ('',)]

#### Question 13: Adapt the query in Question 7 to examine the relationship between breed_type and number of tests completed. Exclude DogIDs with values of "1" in the exclude column. Your results should return 8865 DogIDs in the Pure Breed group.

In [19]:
%%sql
SELECT breed_type, AVG(numtests_per_dog.numtests) AS avg_tests_completed,
COUNT(DISTINCT dogID)
FROM( SELECT d.dog_guid AS dogID, d.breed_type AS breed_type,
count(c.created_at) AS numtests
FROM dogs d JOIN complete_tests c
ON d.dog_guid=c.dog_guid
WHERE d.exclude IS NULL OR d.exclude=0
GROUP BY dogID) AS numtests_per_dog
GROUP BY breed_type;

4 rows affected.

[('Cross Breed', Decimal('10.6009'), 2884),
 ("Mixed Breed/ Other/ I Don't Know", Decimal('10.2688'), 4818),
 ('Popular Hybrid', Decimal('10.8423'), 634),
 ('Pure Breed', Decimal('10.4107'), 8865)]

####  Assess whether dog breeds and neutering are related to the number of tests completed

#### Question 14: For each unique DogID, output its dog_guid, breed_type, number of completed tests, and use a CASE statement to include an extra column with a string that reads "Pure_Breed" whenever breed_type equals 'Pure Breed" and "Not_Pure_Breed" whenever breed_type equals anything else. LIMIT your output to 50 rows for troubleshooting.

In [20]:
%%sql
SELECT d.dog_guid AS dogID, d.breed_type AS breed_type,
CASE WHEN d.breed_type='Pure Breed' THEN 'pure_breed'
ELSE 'not_pure_breed'
END AS pure_breed,
count(c.created_at) AS numtests
FROM dogs d, complete_tests c
WHERE d.dog_guid=c.dog_guid
GROUP BY dogID
LIMIT 50

50 rows affected.

[('fd27b272-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 21),
 ('fd27b5ba-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 20),
 ('fd27b6b4-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 2),
 ('fd27b79a-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 11),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 31),
 ('fd27b948-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 20),
 ('fd27ba1a-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 27),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', "Mixed Breed/ Other/ I Don't Know", 'not_pure_breed', 20),
 ('fd27c1c2-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 20),
 ('fd27c5be-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 'not_pure_breed', 20),
 ('fd27c74e-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 'not_pure_breed', 14),
 ('fd27c7d0-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 20),
 ('fd27c852-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 20),
 ('fd27c8d4-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 20),
 ('fd27c956-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 'not_pure_breed', 11),
 ('fd27cb72-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 20),
 ('fd27cd98-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 20),
 ('fd27ce1a-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 7),
 ('fd27cea6-7144-11e5-ba71-058fbc01cf0b', "Mixed Breed/ Other/ I Don't Know", 'not_pure_breed', 2),
 ('fd27cf28-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 20),
 ('fd27cfaa-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 7),
 ('fd27d02c-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 20),
 ('fd27d0b8-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 'not_pure_breed', 21),
 ('fd27d144-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 7),
 ('fd27d1c6-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 7),
 ('fd27d248-7144-11e5-ba71-058fbc01cf0b', 'Popular Hybrid', 'not_pure_breed', 6),
 ('fd27d2ca-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 4),
 ('fd27d34c-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 4),
 ('fd27d3d8-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 4),
 ('fd27d45a-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 28),
 ('fd27d4dc-7144-11e5-ba71-058fbc01cf0b', "Mixed Breed/ Other/ I Don't Know", 'not_pure_breed', 28),
 ('fd27d770-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 25),
 ('fd27d9fa-7144-11e5-ba71-058fbc01cf0b', "Mixed Breed/ Other/ I Don't Know", 'not_pure_breed', 20),
 ('fd27db08-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 14),
 ('fd27db8a-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 16),
 ('fd27dc52-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 2),
 ('fd27dd38-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 'not_pure_breed', 4),
 ('fd27e026-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 6),
 ('fd27e0d0-7144-11e5-ba71-058fbc01cf0b', "Mixed Breed/ Other/ I Don't Know", 'not_pure_breed', 6),
 ('fd27e1e8-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 'not_pure_breed', 20),
 ('fd27e31e-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 23),
 ('fd27e454-7144-11e5-ba71-058fbc01cf0b', "Mixed Breed/ Other/ I Don't Know", 'not_pure_breed', 45),
 ('fd27e580-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 33),
 ('fd27e9a4-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 22),
 ('fd27eae4-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 4),
 ('fd27ed46-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 25),
 ('fd27efb2-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 20),
 ('fd27f110-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 7),
 ('fd27f25a-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 'not_pure_breed', 6),
 ('fd27f4c6-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 'pure_breed', 4)]

#### Question 15: Adapt your queries from Questions 7 and 14 to examine the relationship between breed_type and number of tests completed by Pure_Breed dogs and non_Pure_Breed dogs. Your results should return 8336 DogIDs in the Not_Pure_Breed group.

In [23]:
%%sql
SELECT numtests_per_dog.pure_breed AS pure_breed,
AVG(numtests_per_dog.numtests) AS avg_tests_completed, COUNT(DISTINCT dogID)
FROM( SELECT d.dog_guid AS dogID, d.breed_group AS breed_type,
CASE WHEN d.breed_type='Pure Breed' THEN 'pure_breed'
ELSE 'not_pure_breed'
END AS pure_breed,
count(c.created_at) AS numtests
FROM dogs d JOIN complete_tests c
ON d.dog_guid=c.dog_guid
WHERE d.exclude IS NULL OR d.exclude=0
GROUP BY dogID) AS numtests_per_dog
GROUP BY pure_breed;

2 rows affected.

[('not_pure_breed', Decimal('10.4273'), 8336),
 ('pure_breed', Decimal('10.4107'), 8865)]

#### Question 16: Adapt your query from Question 15 to examine the relationship between breed_type, whether or not a dog was neutered (indicated in the dog_fixed field), and number of tests completed by Pure_Breed dogs and non_Pure_Breed dogs. There are DogIDs with null values in the dog_fixed column, so your results should have 6 rows, and the average number of tests completed by non-pure-breeds who are neutered is 10.5681.

In [24]:
%%sql
SELECT numtests_per_dog.pure_breed AS pure_breed, neutered,
AVG(numtests_per_dog.numtests) AS avg_tests_completed, COUNT(DISTINCT dogID)
FROM( SELECT d.dog_guid AS dogID, d.breed_group AS breed_type, d.dog_fixed AS
neutered,
CASE WHEN d.breed_type='Pure Breed' THEN 'pure_breed'
ELSE 'not_pure_breed'
END AS pure_breed,
count(c.created_at) AS numtests
FROM dogs d JOIN complete_tests c
ON d.dog_guid=c.dog_guid
WHERE d.exclude IS NULL OR d.exclude=0
GROUP BY dogID) AS numtests_per_dog
GROUP BY pure_breed, neutered;

6 rows affected.

[('not_pure_breed', None, Decimal('9.9897'), 97),
 ('not_pure_breed', 0, Decimal('8.6807'), 592),
 ('not_pure_breed', 1, Decimal('10.5681'), 7647),
 ('pure_breed', None, Decimal('8.2815'), 135),
 ('pure_breed', 0, Decimal('9.3788'), 1687),
 ('pure_breed', 1, Decimal('10.6987'), 7043)]

#### Other dog features that might be related to the number of tests completed, and a note about using averages as summary metrics

#### Question 17: Adapt your query from Question 7 to include a column with the standard deviation for the number of tests completed by each Dognition personality dimension.

In [25]:
%%sql
SELECT dimension, AVG(numtests) AS avg_tests_completed, COUNT(DISTINCT
dogID),
STDDEV(numtests)
FROM( SELECT d.dog_guid AS dogID, d.dimension AS dimension, count(c.created_at)
AS numtests
FROM dogs d JOIN complete_tests c
ON d.dog_guid=c.dog_guid
WHERE (dimension IS NOT NULL AND dimension!='') AND (d.exclude IS NULL
OR d.exclude=0)
GROUP BY dogID) AS numtests_per_dog
GROUP BY numtests_per_dog.dimension;

9 rows affected.

[('ace', Decimal('23.5100'), 402, 5.4896),
 ('charmer', Decimal('23.3594'), 626, 5.1919),
 ('einstein', Decimal('23.2385'), 109, 5.3155),
 ('expert', Decimal('23.4249'), 273, 4.7589),
 ('maverick', Decimal('22.7673'), 245, 4.7353),
 ('protodog', Decimal('22.9570'), 535, 5.3742),
 ('renaissance-dog', Decimal('23.0410'), 463, 4.9508),
 ('socialite', Decimal('23.0997'), 792, 4.9748),
 ('stargazer', Decimal('22.7968'), 310, 4.8254)]

#### Question 18: Write a query that calculates the average amount of time it took each dog breed_type to complete all of the tests in the exam_answers table. Exclude negative durations from the calculation, and include a column that calculates the standard deviation of durations for each breed_type group:

In [26]:
%%sql
SELECT d.breed_type AS breed_type,
AVG(TIMESTAMPDIFF(minute,e.start_time,e.end_time)) AS AvgDuration,
STDDEV(TIMESTAMPDIFF(minute,e.start_time,e.end_time)) AS StdDevDuration
FROM dogs d JOIN exam_answers e
ON d.dog_guid=e.dog_guid
WHERE TIMESTAMPDIFF(minute,e.start_time,e.end_time)>0
GROUP BY breed_type;

4 rows affected.

[('Cross Breed', Decimal('11810.3230'), 59113.4558),
 ("Mixed Breed/ Other/ I Don't Know", Decimal('9145.1575'), 48748.6268),
 ('Popular Hybrid', Decimal('7734.0763'), 45577.6582),
 ('Pure Breed', Decimal('12311.2558'), 60997.3543)]