#### MySQL Exercise 10: Useful Logical Operators

#### Begin by loading the sql library and database, and making the Dognition database your default database:

In [1]:
%load_ext sql
%sql mysql://studentuser:studentpw@mysqlserver/dognitiondb
%sql USE dognitiondb

0 rows affected.

[]

#### Question 1: Write a query that will output distinct user_guids and their associated country of residence from the users table, excluding any user_guids or countries that have NULL values.

In [2]:
%%sql
SELECT DISTINCT user_guid, country
FROM users
WHERE country IS NOT NULL
LIMIT 10;

10 rows affected.

[('ce134e42-7144-11e5-ba71-058fbc01cf0b', 'US'),
 ('ce1353d8-7144-11e5-ba71-058fbc01cf0b', 'US'),
 ('ce135ab8-7144-11e5-ba71-058fbc01cf0b', 'US'),
 ('ce13507c-7144-11e5-ba71-058fbc01cf0b', 'US'),
 ('ce135e14-7144-11e5-ba71-058fbc01cf0b', 'US'),
 ('ce13615c-7144-11e5-ba71-058fbc01cf0b', 'US'),
 ('ce135f2c-7144-11e5-ba71-058fbc01cf0b', 'US'),
 ('ce136a1c-7144-11e5-ba71-058fbc01cf0b', 'US'),
 ('ce136ac6-7144-11e5-ba71-058fbc01cf0b', 'US'),
 ('ce136c24-7144-11e5-ba71-058fbc01cf0b', 'US')]

#### Question 2: Use an IF expression and the query you wrote in Question 1 as a subquery to determine the number of unique user_guids who reside in the United States (abbreviated "US") and outside of the US.

In [3]:
%%sql
SELECT IF(cleaned_users.country='US','In US','Outside US') AS user_location,
count(cleaned_users.user_guid) AS num_guids
FROM (SELECT DISTINCT user_guid, country
FROM users
WHERE user_guid IS NOT NULL AND country IS NOT NULL) AS cleaned_users
GROUP BY user_location;

2 rows affected.

[('In US', 9356), ('Outside US', 6905)]

#### CASE expressions

#### Question 3: Write a query using a CASE statement that outputs 3 columns: dog_guid, dog_fixed, and a third column that reads "neutered" every time there is a 1 in the "dog_fixed" column of dogs, "not neutered" every time there is a value of 0 in the "dog_fixed" column of dogs, and "NULL" every time there is a value of anything else in the "dog_fixed" column. Limit your results for troubleshooting purposes.

In [6]:
%%sql
SELECT dog_guid, dog_fixed,
CASE dog_fixed
WHEN "1" THEN "neutered"
WHEN "0" THEN "not neutered"
END AS neutered
FROM dogs
LIMIT 10;

10 rows affected.

[('fd27b272-7144-11e5-ba71-058fbc01cf0b', 1, 'neutered'),
 ('fd27b5ba-7144-11e5-ba71-058fbc01cf0b', 1, 'neutered'),
 ('fd27b6b4-7144-11e5-ba71-058fbc01cf0b', 0, 'not neutered'),
 ('fd27b79a-7144-11e5-ba71-058fbc01cf0b', 0, 'not neutered'),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', 0, 'not neutered'),
 ('fd27b948-7144-11e5-ba71-058fbc01cf0b', 1, 'neutered'),
 ('fd27ba1a-7144-11e5-ba71-058fbc01cf0b', 1, 'neutered'),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', 1, 'neutered'),
 ('fd27c1c2-7144-11e5-ba71-058fbc01cf0b', 1, 'neutered'),
 ('fd27c5be-7144-11e5-ba71-058fbc01cf0b', 1, 'neutered')]

#### Question 4: We learned that NULL values should be treated the same as "0" values in the exclude columns of the dogs and users tables. Write a query using a CASE statement that outputs 3 columns: dog_guid, exclude, and a third column that reads "exclude" every time there is a 1 in the "exclude" column of dogs and "keep" every time there is any other value in the exclude column. Limit your results for troubleshooting purposes.

In [7]:
%%sql
SELECT dog_guid, exclude,
CASE exclude
WHEN "1" THEN "exclude"
ELSE "keep"
END AS exclude_cleaned
FROM dogs
LIMIT 10;

10 rows affected.

[('fd27b272-7144-11e5-ba71-058fbc01cf0b', None, 'keep'),
 ('fd27b5ba-7144-11e5-ba71-058fbc01cf0b', None, 'keep'),
 ('fd27b6b4-7144-11e5-ba71-058fbc01cf0b', None, 'keep'),
 ('fd27b79a-7144-11e5-ba71-058fbc01cf0b', None, 'keep'),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', 1, 'exclude'),
 ('fd27b948-7144-11e5-ba71-058fbc01cf0b', None, 'keep'),
 ('fd27ba1a-7144-11e5-ba71-058fbc01cf0b', 1, 'exclude'),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', None, 'keep'),
 ('fd27c1c2-7144-11e5-ba71-058fbc01cf0b', None, 'keep'),
 ('fd27c5be-7144-11e5-ba71-058fbc01cf0b', None, 'keep')]

#### Question 5: Re-write your query from Question 4 using an IF statement instead of a CASE statement.

In [8]:
%%sql
SELECT dog_guid, exclude, IF(exclude="1","exclude","keep") AS exclude_cleaned
FROM dogs
LIMIT 10;

10 rows affected.

[('fd27b272-7144-11e5-ba71-058fbc01cf0b', None, 'keep'),
 ('fd27b5ba-7144-11e5-ba71-058fbc01cf0b', None, 'keep'),
 ('fd27b6b4-7144-11e5-ba71-058fbc01cf0b', None, 'keep'),
 ('fd27b79a-7144-11e5-ba71-058fbc01cf0b', None, 'keep'),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', 1, 'exclude'),
 ('fd27b948-7144-11e5-ba71-058fbc01cf0b', None, 'keep'),
 ('fd27ba1a-7144-11e5-ba71-058fbc01cf0b', 1, 'exclude'),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', None, 'keep'),
 ('fd27c1c2-7144-11e5-ba71-058fbc01cf0b', None, 'keep'),
 ('fd27c5be-7144-11e5-ba71-058fbc01cf0b', None, 'keep')]

#### Question 6: Write a query that uses a CASE expression to output 3 columns: dog_guid, weight, and a third column that reads..."very small" when a dog's weight is 1-10 pounds "small" when a dog's weight is greater than 10 pounds to 30 pounds "medium" when a dog's weight is greater than 30 pounds to 50 pounds "large" when a dog's weight is greater than 50 pounds to 85 pounds "very large" when a dog's weight is greater than 85 pounds. Limit your results for troubleshooting purposes.

In [9]:
%%sql SELECT
dog_guid, weight,
CASE
WHEN weight<=0 THEN "very small"
WHEN weight>10 AND weight<=30 THEN "small"
WHEN weight>30 AND weight<=50 THEN "medium"
WHEN weight>50 AND weight<=85 THEN "large"
WHEN weight>85 THEN "very large"
END AS weight_grouped
FROM dogs
LIMIT 10;

10 rows affected.

[('fd27b272-7144-11e5-ba71-058fbc01cf0b', 50, 'medium'),
 ('fd27b5ba-7144-11e5-ba71-058fbc01cf0b', 20, 'small'),
 ('fd27b6b4-7144-11e5-ba71-058fbc01cf0b', 70, 'large'),
 ('fd27b79a-7144-11e5-ba71-058fbc01cf0b', 70, 'large'),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', 190, 'very large'),
 ('fd27b948-7144-11e5-ba71-058fbc01cf0b', 60, 'large'),
 ('fd27ba1a-7144-11e5-ba71-058fbc01cf0b', 190, 'very large'),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', 50, 'medium'),
 ('fd27c1c2-7144-11e5-ba71-058fbc01cf0b', 70, 'large'),
 ('fd27c5be-7144-11e5-ba71-058fbc01cf0b', 0, 'very small')]

#### Question 7: How many distinct dog_guids are found in group 1 using this query?

In [11]:
4871

4871

#### Question 8: How many distinct dog_guids are found in group 1 using this query?

In [12]:
3461

3461

#### Question 9: How many distinct dog_guids are found in group 1 using this query?

In [13]:
46

46

#### Question 10: For each dog_guid, output its dog_guid, breed_type, number of completed tests, and use an IF statement to include an extra column that reads "Pure_Breed" whenever breed_type equals 'Pure Breed" and "Not_Pure_Breed" whenever breed_type equals anything else. LIMIT your output to 50 rows for troubleshooting. HINT: you will need to use a join to complete this query.

In [14]:
%%sql
SELECT d.dog_guid AS dogID, d.breed_type AS breed_type, count(c.created_at) AS
numtests,
IF(d.breed_type='Pure Breed','pure_breed', 'not_pure_breed') AS pure_breed
FROM dogs d, complete_tests c
WHERE d.dog_guid=c.dog_guid
GROUP BY dogID, breed_type, pure_breed
LIMIT 50;

50 rows affected.

[('fd27b272-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 21, 'pure_breed'),
 ('fd27b5ba-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'pure_breed'),
 ('fd27b6b4-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 2, 'pure_breed'),
 ('fd27b79a-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 11, 'pure_breed'),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 31, 'pure_breed'),
 ('fd27b948-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'pure_breed'),
 ('fd27ba1a-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 27, 'pure_breed'),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', "Mixed Breed/ Other/ I Don't Know", 20, 'not_pure_breed'),
 ('fd27c1c2-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'pure_breed'),
 ('fd27c5be-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 20, 'not_pure_breed'),
 ('fd27c74e-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 14, 'not_pure_breed'),
 ('fd27c7d0-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'pure_breed'),
 ('fd27c852-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'pure_breed'),
 ('fd27c8d4-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'pure_breed'),
 ('fd27c956-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 11, 'not_pure_breed'),
 ('fd27cb72-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'pure_breed'),
 ('fd27cd98-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'pure_breed'),
 ('fd27ce1a-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 7, 'pure_breed'),
 ('fd27cea6-7144-11e5-ba71-058fbc01cf0b', "Mixed Breed/ Other/ I Don't Know", 2, 'not_pure_breed'),
 ('fd27cf28-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'pure_breed'),
 ('fd27cfaa-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 7, 'pure_breed'),
 ('fd27d02c-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'pure_breed'),
 ('fd27d0b8-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 21, 'not_pure_breed'),
 ('fd27d144-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 7, 'pure_breed'),
 ('fd27d1c6-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 7, 'pure_breed'),
 ('fd27d248-7144-11e5-ba71-058fbc01cf0b', 'Popular Hybrid', 6, 'not_pure_breed'),
 ('fd27d2ca-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 4, 'pure_breed'),
 ('fd27d34c-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 4, 'pure_breed'),
 ('fd27d3d8-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 4, 'pure_breed'),
 ('fd27d45a-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 28, 'pure_breed'),
 ('fd27d4dc-7144-11e5-ba71-058fbc01cf0b', "Mixed Breed/ Other/ I Don't Know", 28, 'not_pure_breed'),
 ('fd27d770-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 25, 'pure_breed'),
 ('fd27d9fa-7144-11e5-ba71-058fbc01cf0b', "Mixed Breed/ Other/ I Don't Know", 20, 'not_pure_breed'),
 ('fd27db08-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 14, 'pure_breed'),
 ('fd27db8a-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 16, 'pure_breed'),
 ('fd27dc52-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 2, 'pure_breed'),
 ('fd27dd38-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 4, 'not_pure_breed'),
 ('fd27e026-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 6, 'pure_breed'),
 ('fd27e0d0-7144-11e5-ba71-058fbc01cf0b', "Mixed Breed/ Other/ I Don't Know", 6, 'not_pure_breed'),
 ('fd27e1e8-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 20, 'not_pure_breed'),
 ('fd27e31e-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 23, 'pure_breed'),
 ('fd27e454-7144-11e5-ba71-058fbc01cf0b', "Mixed Breed/ Other/ I Don't Know", 45, 'not_pure_breed'),
 ('fd27e580-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 33, 'pure_breed'),
 ('fd27e9a4-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 22, 'pure_breed'),
 ('fd27eae4-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 4, 'pure_breed'),
 ('fd27ed46-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 25, 'pure_breed'),
 ('fd27efb2-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'pure_breed'),
 ('fd27f110-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 7, 'pure_breed'),
 ('fd27f25a-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 6, 'not_pure_breed'),
 ('fd27f4c6-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 4, 'pure_breed')]

#### Question 11: Write a query that uses a CASE statement to report the number of unique user_guids associated with customers who live in the United States and who are in the following groups of states: Group 1: New York (abbreviated "NY") or New Jersey (abbreviated "NJ") Group 2: North Carolina (abbreviated "NC") or South Carolina (abbreviated "SC") Group 3: California (abbreviated "CA") Group 4: All other states with non-null values You should find 898 unique user_guids in Group1.

In [15]:
%%sql
SELECT COUNT(DISTINCT user_guid),
CASE
WHEN (state="NY" OR state="NJ") THEN "Group 1-NY/NJ"
WHEN (state="NC" OR state="SC") THEN "Group 2-NC/SC"
WHEN state="CA" THEN "Group 3-CA"
ELSE "Group 4-Other"
END AS state_group
FROM users
WHERE country="US" AND state IS NOT NULL
GROUP BY state_group;

4 rows affected.

[(898, 'Group 1-NY/NJ'),
 (653, 'Group 2-NC/SC'),
 (1417, 'Group 3-CA'),
 (6388, 'Group 4-Other')]

#### Question 12: Write a query that allows you to determine how many unique dog_guids are associated with dogs who are DNA tested and have either stargazer or socialite personality dimensions. Your answer should be 70.

In [16]:
%%sql
SELECT COUNT(DISTINCT dog_guid)
FROM dogs
WHERE dna_tested=1 AND (dimension='stargazer' OR dimension='socialite');

1 rows affected.

[(70,)]